.AppBarGreen{
    background-image: url("https://i.ytimg.com/vi/gjbzp1MUQrg/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.AppBarDark{
    background-image: url("imges/blackTheme.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

